.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
 /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Nav-div {
  background-color: #282c34;
 /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.Nav-div ul  { 
  display: flex;
}

.Nav-div ul li { 
  list-style-type: none;
  margin-left: 20px;
}

.Nav-div ul li a { 
  color: White;
  text-decoration: none;
}

.Login-button {

  color: white;
  background: none !important;
  border: none;
  font-size: calc(10px + 1vmin);
  cursor: pointer;
}

.Logout-button {

  color: white;
  background: none !important;
  border: none;
  font-size: calc(10px + 1vmin);
  cursor: pointer;

}

.Data-grid {

  margin-left: 20px;
  margin-right: 20px;
}

.Styled-table {
  border-collapse: collapse;
  margin: 20px 0; 
  width: 100%; 
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1); 
}

.Styled-table th, .styled-table td {
  padding: 12px 15px; 
  text-align: left; 
}

.Styled-table thead tr {
  background-color: #007BFF; 
  color: #ffffff; 
}

.Styled-table tbody tr {
  background-color: #ffffff; 
}

.Styled-table tbody tr:nth-child(even) {
  background-color: #f2f2f2; 
}

.Styled-table tbody tr:hover {
  background-color: #e9ecef;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
